:root{
    --accent:#c65a48;
    --dark:#2b5b5b;
    --bg:#fbf8f6;
    --card:#fff;
    --radius:14px;
    --app-font: 'Itim', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --ion-font-family: var(--app-font);
}

ion-card {
    --background: transparent !important;
    --box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    text-align: justify;
    --color: #000000 !important;
    color: #000000 !important;
}

/* Si quieres que alguna tarjeta SÍ tenga fondo blanco (como la del Login) 
   simplemente le añadimos una clase específica en el .vue */
ion-card.green-card {
    --background: #ffffff !important;
    border: 2px solid var(--dark) !important;
    --border-radius: var(--radius);
    margin: 10px; 
    border-radius: 20px;
}

/* Fondo general de la app */
ion-content{
    --background: var(--bg);
    --padding-top: 32px;
}

/* Toolbar */
ion-toolbar{
    --background: #D2694C;
    --color: #000000;
}

/* No hace falta listar ion-title, ion-label... */
html, body, ion-app{
    font-family: var(--app-font);
}

ion-card-title{
    color: #000;
}
/* Listas: que no pinten fondo oscuro por defecto */
ion-list{
  --background: transparent;
}

ion-item{
  --background: transparent;
  --ion-item-background: transparent;
}

/* A veces el fondo lo pinta el "native" */
ion-item::part(native){
  background: transparent;
}



