:root{
    --accent:#c65a48;
    --dark:#2b5b5b;
    --bg:#fbf8f6;
    --card:#fff;
    --radius:14px;
    --app-font: 'Itim', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --ion-font-family: var(--app-font);
}

ion-card {
    --background: transparent !important;
    --box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    text-align: justify;
    --color: #000000 !important;
    color: #000000 !important;
}

/* Si quieres que alguna tarjeta SÍ tenga fondo blanco (como la del Login) 
   simplemente le añadimos una clase específica en el .vue */
ion-card.green-card {
    --background: #ffffff !important;
    border: 2px solid var(--dark) !important;
    --border-radius: var(--radius);
    margin: 10px; 
    border-radius: 20px;
}

/* Fondo general de la app */
ion-content{
    --background: var(--bg);
    --padding-top: 32px;
}

/* Toolbar */
ion-toolbar{
    --background: #D2694C;
    --color: #000000;
}

/* No hace falta listar ion-title, ion-label... */
html, body, ion-app{
    font-family: var(--app-font);
}

ion-card-title{
    color: #000;
}
/* Listas: que no pinten fondo oscuro por defecto */
ion-list{
  --background: transparent;
}

ion-item{
  --background: transparent;
  --ion-item-background: transparent;
}

/* A veces el fondo lo pinta el "native" */
ion-item::part(native){
  background: transparent;
}


/* Contenedor del Popup */
.custom-alert {
    --background: #fbf8f6; 
    --backdrop-opacity: 0.6;
}


.custom-alert .alert-title {
    font-family: 'Itim', sans-serif !important;
    color: #2b5b5b !important;
    font-size: 22px !important;
    font-weight: bold !important;
}


.custom-alert .alert-message {
    font-family: 'Itim', sans-serif !important;
    color: #444 !important;
    font-size: 16px !important;
}


.custom-alert .alert-button-inner {
    font-family: 'Itim', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}


.custom-alert .alert-button-role-destructive .alert-button-inner {
    color: #e63946 !important;
}

.custom-alert .alert-button-role-cancel .alert-button-inner {
    color: #2b5b5b !important;
}

.custom-alert .alert-button-group {
    padding: 8px !important;
}
body, html, ion-app, ion-content, ion-page {
    --ion-background-color: #fbf8f6 !important;
    --ion-text-color: #000000 !important;
}

/* Anula el modo oscuro forzado del sistema */
@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: #fbf8f6 !important;
    --ion-text-color: #000000 !important;
  }
}
