:root{
    --accent:#c65a48;
    --dark:#2b5b5b;
    --bg:#fbf8f6;
    --card:#fff;
    --radius:14px;
    --app-font: 'Itim', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --ion-font-family: var(--app-font);
}

ion-card {
    --background: transparent !important;
    --box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    text-align: justify;
    --color: #000000 !important;
    color: #000000 !important;
}

ion-card.green-card {
    --background: #ffffff !important;
    border: 2px solid var(--dark) !important;
    --border-radius: var(--radius);
    margin: 10px; 
    border-radius: 20px;
}

ion-content{
    --background: var(--bg);
    --padding-top: 32px;
    --padding-bottom: 80px !important;
}

ion-toolbar{
    --background: #D2694C;
    --color: #000000;
}

html, body, ion-app{
    font-family: var(--app-font);
}

ion-card-title{
    color: #000;
}

ion-list{
    --background: transparent;
}

ion-item{
    --background: transparent;
    --ion-item-background: transparent;
}

ion-item::part(native){
    background: transparent;
}

.custom-alert {
    --background: #fbf8f6; 
    --backdrop-opacity: 0.6;
}

.custom-alert .alert-title {
    font-family: 'Itim', sans-serif !important;
    color: #2b5b5b !important;
    font-size: 22px !important;
    font-weight: bold !important;
}

.custom-alert .alert-message {
    font-family: 'Itim', sans-serif !important;
    color: #444 !important;
    font-size: 16px !important;
}

.custom-alert .alert-button-inner {
    font-family: 'Itim', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.custom-alert .alert-button-role-destructive .alert-button-inner {
    color: #e63946 !important;
}

.custom-alert .alert-button-role-cancel .alert-button-inner {
    color: #2b5b5b !important;
}

.custom-alert .alert-button-group {
    padding: 8px !important;
}
body, html, ion-app, ion-content, ion-page {
    --ion-background-color: #fbf8f6 !important;
    --ion-text-color: #000000 !important;
}

@media (prefers-color-scheme: dark) {
    body {
        --ion-background-color: #fbf8f6 !important;
        --ion-text-color: #000000 !important;
    }
}
